dbt-core==1.10.11
dbt-snowflake==1.10.0
dagster==1.11.9
dagster-dbt==0.27.9
dagster-webserver==1.11.9
black==25.1.0
flake8==7.3.0
isort==6.0.1
python-dateutil==2.9.0.post0
pre_commit==4.3.0
dagster_snowflake==0.27.9
pydantic==2.11.7
mypy==1.18.1
python-certifi-win32==1.6.1
pyxirr==0.10.7
